*{
	margin: 0px;
	padding: 0px;
}
.base
{
height: 95vmin;
width: 95vmin;
border:2px solid black;
margin: auto;
justify-content: center;
align-self: center;
margin-top: 2.5vmin;
border-collapse: collapse;

}
.row{
	margin: 0px;
	padding: 0px;
}
.box{
	width: 12.5%;
	height: 12.5%;


	padding: 0px;
	margin: 0px;
}
.one td{
		border: 2px solid black;
		
}
.last td{
		border:2px solid black;
		border-collapse: collapse;

}
.mid td:first-child,.mid td:last-child{
	border:2px solid black;
	border-collapse: collapse;
}
.turn,.roll,.result{
	border:2px solid black;
	align-items: center;
	text-align: center;
	font-size: 1.5em;
}
.roll button{
	box-decoration-break: all;
	text-decoration: none;
	border-style: none;
	width: 80%;
	height:70%;
}
.roll button:focus{
	border-style: none;
	outline: none;
}
button:hover{
	background-color: #2e2e2e;
	color:white;
	transition-duration: 0.2s;
	font-size: 130%;

	
}
.B1{
	background-color: rgb(126, 164, 214);
}

.A1{
	background-color: rgb(209, 110, 119,1);
}
