*{
	margin: 0px;
	padding: 0px;
}
.base
{
height: 90vmin;
width: 90vmin;
border:2px solid black;
margin: auto;
justify-content: center;
align-self: center;
margin-top: 4vmin;
border-collapse: collapse;

}
.row{

}
.box{
min-width: 12.5vmin;
min-height: 12.5vmin;
max-width: 12.5vmin;
max-height: 12.5vmin;
	padding: 0px;
	margin: 0px;
}
.one td{
		border: 2px solid black;
		
}
.last td{
		border:2px solid black;
		border-collapse: collapse;

}
.mid td:first-child,.mid td:last-child{
	border:2px solid black;
	border-collapse: collapse;
}
.turn,.roll,.result{
	border:2px solid black;
	align-items: center;
	text-align: center;
	font-size: 100%;
	padding: 0px;

}
.roll button{
	box-decoration-break: all;
	text-decoration: none;
	border-style: none;
	width: 47%;
	height:70%;
	margin: 2px;
}
.roll button:focus{
	border-style: none;
	outline: none;
}
button:hover{
	background-color: #2e2e2e;
	color:white;
	transition-duration: 0.2s;
	font-size: 100%;

	
}
.B1{
	
background-image: url(yellow.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.A1{
	background-image: url(purple.png);
	    background-size: contain;
	    background-repeat: no-repeat;
}
.result{
	width:98.8%;
	height: 100%;
	border-collapse: collapse;
	padding: 0px;
	margin: 0px;
}
.A2{
	display: inline-flex;
	align-self: left;
	width: 49%;
	height: 98%;
	background-image: url(yellow.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}